[submodule "Flux/vendor/spdlog"]
	path = Flux/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Flux/vendor/GLFW"]
	path = Flux/vendor/GLFW
	url = https://github.com/ddashadyy/glfw
[submodule "Flux/vendor/imgui"]
	path = Flux/vendor/imgui
	url = https://github.com/ddashadyy/imgui
[submodule "Flux/vendor/glm"]
	path = Flux/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Flux/vendor/vk-bootstrap"]
	path = Flux/vendor/vk-bootstrap
	url = https://github.com/ddashadyy/vk-bootstrap
